@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Order Management</h1>
    <p class="lead">Order Management is a web application which allow user to register and based on their region to see their orders.</p>
    <p>@Html.ActionLink("Log in", "Login", "Account", new { id = "loginLink"},new { @class="btn btn-primary btn-large" })</p>
</div>


