<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="EntityPaths" value="Orders/Subscriptions/Europe|Europe-BrokeredMessageService,ordermanagement/Subscriptions/SouthAmerica|SouthAmerica-BrokeredMessageService" />
  </appSettings>
  <connectionStrings>
    <add name="ServiceBusConnection" connectionString="Endpoint=sb://codecampordermng.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=iQgCKN/6i9feulna1a4S66C/gsgGwN91tbHHos7viNs="/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="15" maxStringContentLength="524288" maxArrayLength="16384"
      			 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint
        name="Europe-BrokeredMessageService"
        address="http://localhost:65214/BrokeredMessageService.svc"
			  binding="basicHttpBinding"
			  contract="IBrokeredMessageService"/>
      <endpoint
       name="SouthAmerica-BrokeredMessageService"
       address="http://localhost:49620/BrokeredMessageService.svc"
       binding="basicHttpBinding"
       contract="IBrokeredMessageService"/>
    </client>
  
  </system.serviceModel>
</configuration>